@import "tailwindcss";

:root {
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-fraunces);
  --font-serif: var(--font-geist-sans);
}

@theme {
  --color-primary: #3a2213;
  --color-primary-dark: #21130a;
  --color-primary-light: #55331d;

  --color-terracotta: #b1592f;
  --color-terracotta-dark: #7c3c1e;

  --color-gold: #c3924f;
  --color-gold-dark: #8e5421;
  --color-gold-light: #e0bd8c;

  --color-bronze: #6f421e;

  --color-background: #f8f4ee;
  --color-surface: #ffffff;

  --color-text: #21130a;
  --color-text-muted: #6f6257;

  --color-border: #e5d9cb;
}
